div#letter_board{
	background:#7FFF00;
	border:#999 1px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
div#letter_board > div{
	background: url(images/qmarkk.jpg) no-repeat;
	border:#000 1px solid;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}

.row{
text-align:center;
}
